@import "tailwindcss";

:root {
  /* Global */
  --global-foreground: #3B3B3B;
  --global-background: #FFF9F4;

  /* GlobalHeader */
  --global-header-background: #FFB84C;
  --global-header-foreground: #141414;

  /* GlobalInput */
  --global-input-background: #FFF3DC;
  --global-input-placeholder: #353232;
  --global-input-background--focus: #FFFFFF;

  /* Global Image */
  --global-image-fallback: #FFD17C;

  /* Global Divider */
  --global-divider: #FFE1A8;

  /* Global Dialog */
  --global-dialog-foreground: #FFFFFF;
}

@theme inline {
  /* Global */
  --color-global-background: var(--global-background);
  --color-global-foreground: var(--global-foreground);
  
  /* GlobalHeader */
  --color-global-header-background: var(--global-header-background);
  --color-global-header-foreground: var(--global-header-foreground);

  /* GlobalInput */
  --color-global-input-background: var(--global-input-background);
  --color-global-input-placeholder: var(--global-input-placeholder);
  --color-global-input-background--focus: var(--global-input-background--focus);

  /* Global Image */
  --color-global-image-fallback: var(--global-image-fallback);

  /* Global Divider */
  --color-global-divider: var(--global-divider);

  /* Global Dialog */
  --color-global-dialog-foreground: var(--global-dialog-foreground)
}