@import "tailwindcss";

:root {
  /* Global */
  --global-foreground: #434343;
  --global-background: #ffffff;

  /* GlobalHeader */
  --global-header-background: #C4C4C4;
  --global-header-foreground: #434343;

  /* GlobalInput */
  --global-input-background: #DDDDDD;
  --global-input-text: #434343;
  --global-input-placeholder: #BBBBBB;
  --global-input-background--focus: #FFFFFF;

  /* Global Image */
  --global-image-fallback: #C4C4C4;

  /* Global Divider */
  --global-divider: #C4C4C4;
}

@theme inline {
  /* Global */
  --color-global-background: var(--global-background);
  --color-global-foreground: var(--global-foreground);
  
  /* GlobalHeader */
  --color-global-header-background: var(--global-header-background);
  --color-global-header-foreground: var(--global-header-foreground);

  /* GlobalInput */
  --color-global-input-background: var(--global-input-background);
  --color-global-input-placeholder: var(--global-input-placeholder);
  --color-global-input-background--focus: var(--global-input-background--focus);

  /* Global Image */
  --color-global-image-fallback: var(--global-image-fallback);

  /* Global Divider */
  --color-global-divider: var(--global-divider);

}